extends layout

block style
    link(href='http://fonts.googleapis.com/css?family=Engagement',rel='stylesheet',type='text/css')

block script
    script(src='/javascripts/controllers/main-layout.js', type='text/javascript')

block header
    div(class='header')
        div(class='header-wrapper')
            div(class='caption') Node.JS Game Server
            if (user != false)
                div(class='inline name', data-dropdown='true')
                    img(src='/images/avatar-default.png')
                    span= user.login
                ul(id='drop', class='f-dropdown')
                    li
                        a(href='#', id='btnLogout') Выйти
            else
                div(class='inline name') Войти